html
{
	/* Size of largest container or bigger */
	/*min-width: 1080px;*/
	background: #1F1F1F;
	/*background-image: url('../files/dark_mosaic.png') !important;*/

	overflow-y: scroll;
}

div.content
{
	/* Size of largest container or bigger */
	/*min-width: 100px !important;*/
	width: 80%;
	max-width: 800px !important;
	margin-bottom: 40px !important;
	margin-top: 20px !important;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1px;
	padding-bottom: 5px;
	background:#6d6565;

	word-wrap:break-word;

	/*-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.9);*/

	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;

	-moz-box-shadow: 3px 3px 5px #202020;
    -webkit-box-shadow: 3px 3px 5px #202020;
    box-shadow: 3px 3px 5px #202020;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

footer
{
	text-align: center;
	margin-top:20px;
}

header
{
	max-width: 80% !important;

	text-align: center;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	background:#C8C8C8;
	border-style: solid;
    border-width: 1px;
	border-color: #888888;

	font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	padding:5px;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 160%;
	color:#484848 !important;

	border-radius: 5px;
	-moz-box-shadow: 3px 3px 5px #484848;
    -webkit-box-shadow: 3px 3px 5px #484848;
    box-shadow: 3px 3px 5px #484848;

	display: table;
	float:center;
}

#logo
{
	margin-top:0px;
	margin-bottom: -5px;
	margin-left: -90px;
	margin-right: -90px;
	/*width: 80%;*/
	max-width: 100%;
	width: 550px;
}

a
{
	text-decoration:none;

	outline: 0;
	color:#4f8ca8;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a:hover
{
	color:#50abb7;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

img
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	max-width:80%;
}

mono
{
	font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	font-size: 85%;
	color: #a19d8d;
}

br
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

table, th, td
{
	/*max-width:800px;*/
	border: 1px solid #3a3535;
	border-collapse: collapse;
	padding-left: 10px;
	padding-right: 10px;
}

table
{
	/*border: 1px solid black !important;*/
	max-width:80%;
	margin-left:20px;
	margin-right:20px;
	/*margin:0 auto;*/
	/*max-width:800px;*/
	
	margin-bottom: 10px;
	margin-top: 10px;
	/*font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;*/
	/*font-size: 100%;*/
	color:#A8A8A8 !important;
}

th
{
	cursor: default;
	font-weight:normal;
	background-color: #3a3535;
	padding-top: 4px;
	padding-bottom:5px;
}

td
{
	padding-top:3px;
	padding-bottom:3px;
	background-color:#434444;
}

noselect
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
